.slide_022 #head2, .slide_022 #mainEN{ display:none;}
.slide_022 .btnVN, .slide_022 .btnEN{ width:50px; height:50px; top: 110px;}
	.slide_022 .btnVN{ background:url(../images/btnVN.png) no-repeat; left: 1150px;}
	.slide_022 .btnEN{ background:url(../images/btnEN.png) no-repeat; left: 1209px;}
	
.slide_022 .claimM {
	left: 175px;
	top: 585px;
    font-size: 18px;
}
.slide_022 .bg{background:url(../images/bg.jpg) no-repeat;}
.slide_022 .board{background:url(../images/board.png) no-repeat; position:absolute; width:700px; height:424px; top: 145px; left: 260px;-webkit-transform: scale(0.9);}
.slide_022 .chart{background:url(../images/chart.png) no-repeat; position:absolute; width: 248px; height:0px; bottom: 119px; left: 267px;-webkit-transition: height 1s;}
.slide_022 .chart.ani{ height: 226px;}
.slide_022 .txt_chart {position:absolute;font-size:20px; width:300px; text-align:center;}
.slide_022 .txt_chart1{left: 145px; top: 313px; }
.slide_022 .txt_chart2{left: 1px; top: 170px; -webkit-transform:rotate(-90deg);}
.slide_022 .txt_chart3{left: 308px; top: 313px; }
.slide_022 .footnote{position:absolute;top: 538px; left: 198px; font-size: 20px;width: 1060px; height:100px;}
.slide_022 .footnote div:nth-child(1){background:url(../images/bullet_1.png) no-repeat; position:absolute; top:0px;height:100px;padding: 20px 45px;}
.slide_022 .footnote div:nth-child(2){background:url(../images/bullet_1.png) no-repeat; position:absolute; top: 43px;height:100px;padding: 21px 45px;}
.slide_022 .bg_pu p{text-align:left; font-size: 30px; position:absolute; top: 121px; left: 90px;width: 550px;}