
.asset_19 .container_circle {
	width: 334px;
	height: 460px;
	
}
.asset_19 .container_circle1{left: 116px; top: 138px;}
.asset_19 .container_circle2{	left: 544px; 	top: 222px;}
.asset_19 .container_circle3{	left: 853px; 	top: 64px;}

.asset_19 .ball1 {
    width: 316px;
    height: 290px;  
    left: 0px;
    bottom: 230px;  
	opacity:0;
    background: url(../images/ball1.png) no-repeat; 	
}
.asset_19 .ball2 {
    width: 316px;
    height: 290px;   
    left: 0px;
    bottom: 230px;  
	opacity:0;
    background: url(../images/ball2.png) no-repeat; 	
}
.asset_19 .ball3 {
    width: 316px;
    height: 290px;  
    left: 0px;
    bottom: 230px; 
	opacity:0;
    background: url(../images/ball3.png) no-repeat; 	
}
.asset_19 .land {
    width: 1017px;
    height: 299px;  
    left: 165px;
    top: 334px; 
    background: url(../images/land.png) no-repeat; 	
}