.slide_023 #head2, .slide_023 #mainEN{ display:none;}
.slide_023 .btnVN, .slide_023 .btnEN{ width:50px; height:50px; top: 35px;}
	.slide_023 .btnVN{ background:url(../images/btnVN.png) no-repeat; left: 10px;}
	.slide_023 .btnEN{ background:url(../images/btnEN.png) no-repeat; left: 50px;}
	
.slide_023 .claimM {
	left: 175px;
	top: 585px;
    font-size: 18px;
}
/*.slide_023 .bg{background:url(../images/bg.jpg) no-repeat;}*/
.slide_023 .chart1 {
	position: absolute;
	height: 440px;
	width: 411px;
	left: 0px;
	top: 150px;
}
.slide_023 .chart1_1 {
	background-image: url(../images/chart1-1.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 410px;
	width:360px;
	left: -12px;
	top: 12px;
	display:none;

}
.slide_023 .chart1_2 {
	background:url(../images/chart1-2.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 344px;
	width: 213px;
left: 209px;
top: 4px;display:none;
}
.slide_023 .chart2 {
	position: absolute;
	height: 432px;
	width: 425px;
	left: 376px;
	top: 150px;
}
.slide_023 .chart2_1 {
	background-image: url(../images/chart2-1.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 380px;
	width: 396px;
left: -44px;
top: 6px;display:none;
}
.slide_023 .chart2_2 {
	background-image: url(../images/chart2-2.png);
	position: absolute;
	height: 201px;
	width: 188px;
left: 207px;
top: 2px;display:none;
}
.slide_023 .gallery {
	background-image: url(../images/face.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 328px;
	width: 373px;
	top: 120px;
	right: 82px;
}
.slide_023 .tittle {
	color:#FFFFFF;
	font-size: 26px;
	font-weight: bold;
	position: absolute;
	height: 30px;
	width: 430px;
	left: 30px;
	top: 15px;
}
.slide_023 .sub_gal {
	font-size:26px;
	color:#6d1308;
	position: absolute;
	height: 120px;
	width: 450px;
	right: 50px;

	bottom: 182px;
}
.slide_023 b{color:#0048ff;
	text-shadow:1px #000000;}
.slide_023 .sub_chart1 {
	font-size: 21px;
	position: absolute;
	height: 40px;
	width: 140px;
	left: 140px;
	bottom: 170px;
}
.slide_023 .sub_chart1 {
	text-align:center;
	font-size: 25px;
	position: absolute;
	height: 40px;
	width: 150px;
	left: 132px;
bottom: 188px;
}

.slide_023 .sub_chart2 {text-align:center;
	font-size: 25px;
	position: absolute;
	height: 40px;
	width: 150px;
	left: 509px;
bottom: 188px;
}
.slide_023 .detail1 {
	text-align:center;
	z-index:20;
	font-size: 24px;
	color: #FFFFFF;
	position: absolute;
	height: 105px;
	width: 200px;
	left: 210px;
	top: 118px;display:none;
}
.slide_023 .detail2 {
	text-align:center;
	z-index:20;
	font-size: 23px;
	color: #FFFFFF;
	position: absolute;
	height: 105px;
	width: 170px;
	left: 202px;
	top: 64px;display:none;
}
